html, body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}
.an{
	color: #2c75ff;
}
.ic{
	color: #222;
}
.co1{
	background-color: #2c75ff;
}
.hr1{
	position: relative;
	width: 91%;
	left: 10%;
	color: blue;
}
.img{
	border-radius: 180px;
}





.progress_bar .pro-bar {
    background: blue;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height:4px;
    margin-bottom: 20px;
    position: relative;
}
.progress_bar .progress-bar-inner {
    background-color: blue;
     display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
}
.progress_bar .progress-bar-inner:before {
    content: "";
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}
.progress_bar .progress-bar-inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
}